<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-button routerLink="/create">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<div class="contenedor1">
  <h1>Canciones</h1>
  <ion-button class="btn-song" [routerLink] = "['/singer']">
    Cantantes
  </ion-button>
  <ion-button class="btn-song" [routerLink] = "['/imagenes']">
    Imagenes
  </ion-button>
  <ion-button class="btn-song" [routerLink] = "['/studio']">
    Recording Studio
  </ion-button>
  
</div>

  <div class="contenedor2">
    <h1>Conciertos</h1>
    <button class="btn-concert" [routerLink] = "['/concert']">
      Crear Concierto 
    </button> 
    <button class="btn-concert" [routerLink] = "['/persona']">
      Agregar Personas
    </button> 
    <button class="btn-concert" [routerLink] = "['/asistente']">
      Crear Asistentes
    </button> 
  </div>


  <ion-card *ngFor="let song of songList | async" routerLink="/detail/{{song.id}}">
    <ion-card-header>
      {{ song.songName }}
    </ion-card-header>
    <ion-card-content>
      Artist Name: {{ song.artistName }}
    </ion-card-content>
  </ion-card>
</ion-content>